body {
    background: #f7f7f7;
}

.Jantri-table {
    background: #fff;
    margin-top: 30px;
    border-top: 3px solid #1b578b;
    box-shadow: 0 4px 8px #3333;
}

.Jantri-table table.table th {
    text-align: center;
    border-radius: 2px;
}

.Jantri-table table.table tbody th {
    text-align: right;

}

.Jantri-table table.table th,
.Jantri-table table.table .total-row {
    background: #439ec9;
    color: #fff;
}

.Jantri-table table.table {
    border-collapse: separate;
}

tbody,
td,
tfoot,

thead,
tr {
    border-width: 1px;
    font-family: 'Rubik', sans-serif;
}

.Jantri-table table.table td {
    text-align: right;
    position: relative;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    border-radius: 3px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.Jantri-table table.table td:after {
    content: attr(data-title);
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 30px;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 700;
    background: #ffb10096;
    text-align: center;
    border-radius: 2px;
}

input.jantri-ghar-input {
    max-width: 60px;
    display: inline-flex;
    text-align: right;
    border: 0;
    background: transparent;
}

input.jantri-ghar-input:focus {
    border: 0;
    box-shadow: none;
    outline: none;
}

.Jantri-table table.table td:focus-within {
    background: #f2c00861;
}

.table-filters,
.table-filter {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.table-filters .form-control {
    border-radius: 0;
    margin-left: 10px;
    font-weight: 700;

}

.table-filters {
    margin-right: 20px;
    margin-left: 20px;
    font-weight: 700;
    font-size: 16px;

}

.table-title {
    font-weight: 800;
    text-transform: uppercase;
}

.table-title-heads {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}

.table-title-heads .btn.btn-excel {
    min-width: 150px;
    font-weight: 700;
    background-color: #1b578b;
    color: #fff;
}