
<div class="modal-header-btn" style="margin-inline-end: auto;">
    <div class="container_name navbar-brand">User</div>
    <div>
<button  type="button" class="btn btn-primary" data-bs-toggle="modal"  (click)="onCreate()" data-bs-target="#exampleModal">
  Add User<i class="fa fa-plus-circle pr-12"></i>
</button>

</div>
</div>

<div class="content-card">
    <ngx-datatable *ngIf="allUser"
    [rows]="allUser.items"
     class="material server-scrolling-demo"
    [columnMode]="columnMode.force" [headerHeight]="50" [externalPaging]="true"  [count]="page.totalCount"
    [offset]="page.pageIndex"
    (page)='setPage($event)'
    [limit]="page.pageSize"  [footerHeight]="70" [rowHeight]="'auto'" >
    
    <ngx-datatable-column   name="#" prop="name"   [draggable]="true" [resizeable]="true" cellClass="overlaping">   
        <ng-template let-rowIndex="rowIndex" ngx-datatable-header-template>
            <span class="local-sort" title="Name"> Staff Name </span>        
        </ng-template>
        <ng-template let-editmode="editmode" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <span class="text">
                {{row.name}}
              
            </span>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column   name="#" prop="name" [draggable]="true" [resizeable]="true" cellClass="overlaping">   
        <ng-template let-rowIndex="rowIndex" ngx-datatable-header-template>
            <span class="local-sort" title="Username"> Username </span>        
        </ng-template>
        <ng-template let-editmode="editmode" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <span class="text">
                {{row.username}}
            </span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column   name="#" prop="name" [draggable]="true" [resizeable]="true" cellClass="overlaping">   
        <ng-template let-rowIndex="rowIndex" ngx-datatable-header-template>
            <span class="local-sort" title="Role"> Role </span>        
        </ng-template>
        <ng-template let-editmode="editmode" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <span class="text">
                {{row.role.name}}
            </span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column   name="#" prop="name" [draggable]="true" [resizeable]="true" cellClass="overlaping">   
        <ng-template let-rowIndex="rowIndex" ngx-datatable-header-template>
            <span class="local-sort" title="Mobail"> Mobail </span>        
        </ng-template>
        <ng-template let-editmode="editmode" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <span class="text">
                {{row.mobile}}
            </span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column   name="#" prop="name" [draggable]="true" [resizeable]="true" cellClass="overlaping">   
        <ng-template let-rowIndex="rowIndex" ngx-datatable-header-template>
            <span class="local-sort" title="Address"> Address </span>        
        </ng-template>
        <ng-template let-editmode="editmode" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <span class="text">
                {{row.address}}
            </span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column   name="#" prop="name" [draggable]="true" [resizeable]="true" cellClass="overlaping">   
        <ng-template let-rowIndex="rowIndex" ngx-datatable-header-template>
            <span class="local-sort" title="Status"> Status </span>        
        </ng-template>
        <ng-template let-editmode="editmode" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <span class="badge bg-success" *ngIf="row.recordState=='Active' "> 
              {{(row.recordState)}}
          </span>
          <span  class="badge bg-danger" *ngIf="row.recordState =='Inactive' "> 
              {{(row.recordState)}}
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column   name="#" prop="name" [draggable]="true" [resizeable]="true" cellClass="overlaping">   
        <ng-template let-rowIndex="rowIndex" ngx-datatable-header-template>
            <span class="local-sort" title="Action"> Action </span>        
        </ng-template>
        <ng-template let-editmode="editmode" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
           
            <span class="fa fa trash"  >
                
              <span style="cursor: pointer;padding-right: 10px;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onEdit(row)">Edit</span> <span style="cursor: pointer;" (click)="deleteUser(row)">Delete</span> 
              </span>
        </ng-template>
      </ngx-datatable-column>
      
 
    </ngx-datatable>
    </div>

<div  class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 *ngIf="!isEditMode" class="modal-title" id="exampleModalLabel">Add User</h5>
                <h5 *ngIf="isEditMode" class="modal-title" id="exampleModalLabel">Edit User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-6 col-lg-4">
                          <div class="form-group">
                              <label class="label">Staff Name</label>
                              <input class="form-control" type="text " [ngClass]="{errorBorder: obj_error_msg?.indexOf('Staff name is required') != -1}" name="name" [(ngModel)]="staffName" placeholder="Name" />
                          </div>
                      </div>
                    
                        <div class="col-md-6 col-lg-4">
                            <div class="form-group">
                                <label class="label">Role</label>                              
                                <select [ngClass]="{errorBorder: obj_error_msg?.indexOf('Role is required') != -1}"  [(ngModel)]="Role" class="form-control">
                                  <option value="">-- Select --</option>
                                  <option *ngFor="let item of createGet.roles"  value="{{item.id}}">{{item.name}}</option>
                                  
                                </select>
                                
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4">
                            <div class="form-group">
                                <label class="label">Username</label>
                                <input class="form-control" [ngClass]="{errorBorder: obj_error_msg?.indexOf('Usernamee is required') != -1}" type="text" name="name" [(ngModel)]="username" placeholder="Name" />
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4">
                            <div class="form-group">
                                <label class="label">Password</label>
                                <input class="form-control" [ngClass]="{errorBorder: obj_error_msg?.indexOf('Password is required') != -1}" type="password" name="name" [(ngModel)]="password" placeholder="Name" />
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4">
                            <div class="form-group">
                                <label class="label">Agent</label>
                                <input class="form-control" [ngClass]="{errorBorder: obj_error_msg?.indexOf('Agent is required') != -1}" type="text" name="name" [(ngModel)]="agent" placeholder="Name" />
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4">
                            <div class="form-group">
                                <label class="label">Mobail</label>
                                <input class="form-control" [ngClass]="{errorBorder: obj_error_msg?.indexOf('Mobail is required') != -1}" type="tel" name="name" [(ngModel)]="mobail" placeholder="Name" />
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4">
                            <div class="form-group">
                                <label class="label">Address</label>
                                <input class="form-control" [ngClass]="{errorBorder: obj_error_msg?.indexOf('Address is required') != -1}" type="text" name="name" [(ngModel)]="address" placeholder="Name" />
                            </div>
                        </div>
                
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"  class="btn btn-primary" (click)="userCreate()">Add User </button>
                <button type="button" class="btn btn-primary" (click)="updateMenu()" >Update</button>
                <button type="button" class="btn btn-link text-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>