
img {
    max-width: 100%;    
}
.errorBorder {  
    border-color: 1px solid red;  
} 
.fullscreen-login {
    background-image: url(https://images.unsplash.com/photo-1526628953301-3e589a6a8b74?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1295&q=80);
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    padding: 100px 40px;
}

.app {
    background-color: #fff;
    width: 420px;
    height: 570px;
    margin: 2em auto;
    border-radius: 5px;
    padding: 1em;
    position: relative;
    overflow: hidden;
    box-shadow: 0 6px 31px -2px rgba(0, 0, 0, .3);
}

a {
    text-decoration: none;
    color: #257aa6;
}

p {
    font-size: 13px;
    color: #333;
    line-height: 2;
}

.light {
    text-align: right;
    color: #fff;
}

.light a {
    color: #fff;
}

.bg {
    width: 440px;
    height: 550px;
    background: #257aa6;
    position: absolute;
    top: -5em;
    left: 0;
    right: 0;
    margin: auto;
    // background-image: url("background.jpg"); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: ellipse(69% 46% at 48% 46%);
}

form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 2em;
}

header {
    width: 100px;
    height: 100px;
    margin: 1em auto;
    border-radius: 100px;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

header img {
    width: 70px;
    height: 70px;
    filter: contrast(0.4);
}

form input {
    width: 100%;
    padding: 13px 15px;
    margin: 0.7em auto;
    border-radius: 5px;
    border: none;
    background: rgb(255, 255, 255, 0.3);
    font-family: 'Poppins', sans-serif;
    outline: none;
    color: #fff;
}

input::placeholder {
    color: #fff;
    font-size: 13px;
}


footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em;
    text-align: center;
}

footer button {
    width: 100%;
    padding: 13px 15px;
    border-radius: 5px;
    border: none;
    background: #257aa6;
    font-family: 'Poppins', sans-serif;
    outline: none;
    color: #fff;
}

@media screen and (max-width: 640px) {
    .app {
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }

    .bg {
        top: -7em;
        width: 450px;
        height: 95vh;
    }

    header {
        width: 90%;
        height: 250px;
    }

    .inputs {
        margin: 0;
    }

    input,
    button {
        padding: 18px 15px;
    }
}